input{
  background: var(--background-color);
  border: 1px solid var(--border-color);
  color: var(--hint-color);
  box-sizing: border-box;
  border-radius: 6px;
  padding:17px 12px;
  line-height:16px;
  font-size: 14px;
}

input:focus{
  border: 1px solid var(--accent-color);
  outline: none;
  color: var(--default-color);
}

input:disabled{
  background: var(--input-disabled-color);;
}