<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Список репозиториев</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
  </head>
  <body>
    <div class="repositories-page">
      <input
        class="search-input"
        type="text"
        placeholder="Введите название организации"
      />
      <button class="search-button">
        <img src="./img/search.svg" />
      </button>

      <div class="git-repo-tile">
        <div class="git-repo-tile__avatar">
          <img src="https://i.redd.it/r7xl4bkf8d741.jpg" />
        </div>
        <div class="git-repo-tile__content">
          <div class="git-repo-tile__repo-name">
            <b> kts-school-frontend </b>
          </div>
          <div class="git-repo-tile__org-link">
            <a href="#">ktsstudio</a>
          </div>
          <div class="git-repo-tile__info">
            <div class="git-repo-tile__stars">
              <img src="./img/star.svg" />
              <small>123</small>
            </div>
            <small> Updated 21 Jul</small>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
